<nz-page-header>
    <nz-page-header-title>Nuevo Usuario</nz-page-header-title>
</nz-page-header>
<form nz-form [formGroup]='createForm' nzLayout="vertical">
    <nz-form-item>
        <nz-form-label>
            Nombre
        </nz-form-label>
        <nz-form-control>
            <input nz-input placeholder="Nombre" formControlName='name'>
        </nz-form-control>
    </nz-form-item>
    <nz-form-item>
        <nz-form-label>
            Email
        </nz-form-label>
        <nz-form-control>
            <input nz-input placeholder="Email" formControlName='email'>
        </nz-form-control>
    </nz-form-item>
    <nz-form-item>
        <nz-form-label nzFor="new-password">
            Contraseña
        </nz-form-label>
        <nz-form-control>
            <input nz-input type=password placeholder="Password" formControlName='password' id="new-password">
        </nz-form-control>
    </nz-form-item>

    <div *ngIf="actualUser.role_id===1; then superAdmin"> </div>
    <ng-template #superAdmin>
        <nz-form-item>
            <nz-form-label>
                Rol: Nacional
            </nz-form-label>
        </nz-form-item>
    </ng-template>

    <div *ngIf="actualUser.role_id===2; then adminNacional"> </div>
    <ng-template #adminNacional>
        <nz-form-item>
            <nz-form-label>
                Rol: Provincial
            </nz-form-label>
        </nz-form-item>
        <nz-form-item>
            <nz-form-label>
                Provincia
            </nz-form-label>
            <nz-select name="Provincia" formControlName='region_id'>
                <nz-option *ngFor="let province of provinceVaccine" [nzValue]="province.id" [nzLabel]="province.nombre">
                </nz-option>
            </nz-select>
        </nz-form-item>
    </ng-template>

    <div *ngIf="actualUser.role_id===3; then adminProvincial"> </div>
    <ng-template #adminProvincial newUserRol=4>
        <nz-form-item>
            <nz-form-label>
                Rol: Municipal
            </nz-form-label>
        </nz-form-item>
        <nz-form-item>
            <nz-form-label>
                Municipio
            </nz-form-label>
            <nz-select name="Municipio" formControlName='locality_id'>
                <nz-option *ngFor="let municipality of municipalityVaccine" [nzValue]="municipality.id"
                    [nzLabel]="municipality.nombre"></nz-option>
            </nz-select>
        </nz-form-item>
    </ng-template>

    <div *ngIf="actualUser.role_id===4; then adminMunicipal"> </div>
    <ng-template #adminMunicipal newUserRol=5>
        <nz-form-item>
            <nz-form-label>
                Rol: Centro Vacunatorio
            </nz-form-label>
        </nz-form-item>
        <nz-form-item>
            <nz-form-label>
                Centro de Vacunación
            </nz-form-label>
            <nz-select name="Centro de Vacunación" formControlName='vacunatory_center_id'>
                <nz-option *ngFor="let vacunatory of vacunatories" [nzValue]="vacunatory.id"
                    [nzLabel]="vacunatory.nombre"></nz-option>
            </nz-select>
        </nz-form-item>
    </ng-template>
</form>

<button nz-button nzType="primary" [nzLoading]="isLoading" (click)='onSubmit()'>Crear Usuario</button>