<nz-page-header>
    <nz-page-header-title>Lotes de Vacunas</nz-page-header-title>
</nz-page-header>



<nz-table #tabla [nzData]="vaccineLots" [nzFrontPagination]="false">
    <thead>
        <tr>
            <th nzColumnKey="name" [nzSortFn]="true">Nombre de la Vacuna</th>
            <th nzColumnKey="description" [nzSortFn]="true">Descripción</th>
            <th nzColumnKey="admission_date" [nzSortFn]="true">Fecha de Ingreso</th>
            <th nzColumnKey="quantity" [nzSortFn]="true">Cantidad</th>
            <th nzColumnKey="used" [nzSortFn]="true">Enviadas</th>
            <th nzColumnKey="details" [nzSortFn]="true">Detalle</th>
        </tr>
    </thead>
    <tbody>
        <tr *ngFor="let data of tabla.data">
            <td>{{data.vaccine_name.name}}</td>
            <td>{{data.description}}</td>
            <td>{{data.admission_date | date}}</td>
            <td>{{data.quantity}}</td>
            <td>{{data.used}}</td>
            <td><button nz-button nzType="primary" nzSize='small' [routerLink]="'show/'+data.id">Ver</button></td>

        </tr>
    </tbody>
</nz-table>
<div *ngIf="((actualUser.role_id==1) || (actualUser.role_id==2)); then superOrNac"> </div>
<ng-template #superOrNac>
    <nz-form-item>
        <button nz-button nzType="primary" [routerLink]="'create'">Agregar Lote</button>
    </nz-form-item>
</ng-template>