<!--title-->
<nz-page-header-title>Argentina - Vacunación</nz-page-header-title>

<!--subtitle-->
<!--<nz-page-header-subtitle>Campaña 2021</nz-page-header-subtitle>-->

<!--tags-->
<nz-page-header-tags>
    <nz-tag>Campaña Activa</nz-tag>
</nz-page-header-tags>

<!--content-->
<nz-page-header-content>
    <div nz-row>
        <div class="content">
            <p nz-paragraph>
                La aplicación pemite realizar un seguimiento y control de asignación de lotes de vacunas a todo el
                territorio
                nacional.
            </p>
            <p nz-paragraph>
                Según el rol de cada usuario, él mismo podrá asignar lotes a las distintas provincias y a su vez a las
                distintas ciudades.  
                <br>
                También es posible asignar lotes a los distintos centros de vacunación de cada ciudad.

            </p>
            <p nz-paragraph>
                Toda la información es pública, por lo que cualquier usuario (sin importar su rol), podrá visualizar los
                datos y estadisticas relacionadas a la gestión de los distintos lotes asignados.
            </p>
        </div>