<nz-form-item>
    <button nz-button nzType="primary" [routerLink]="'create'">Asignar Vacunas</button>
</nz-form-item>

<nz-table #tabla [nzData]="municipalityVaccination" [nzFrontPagination]="false">
    <thead>
        <tr>
            <th nzColumnKey="name" [nzSortFn]="true">#</th>
            <th nzColumnKey="admission_date" [nzSortFn]="true">Localidad</th>
            <th nzColumnKey="admission_date" [nzSortFn]="true">Fecha de Ingreso</th>
            <th nzColumnKey="quantity" [nzSortFn]="true">Cantidad</th>
            <th nzColumnKey="used" [nzSortFn]="true">Enviadas</th>
            <th nzColumnKey="details" [nzSortFn]="true">Detalle</th>
        </tr>
    </thead>
    <tbody>
        <tr *ngFor="let data of tabla.data">
            <td>{{data.id}}</td>
            <td>{{data.complete_name}}</td>
            <td>{{data.created_at | date }}</td>
            <td>{{data.received_lots}}</td>
            <td>{{data.used}}</td>
            <td><button nz-button nzType="primary" [routerLink]="'show/'+data.id">Ver</button></td>
        </tr>
    </tbody>
</nz-table>