<nz-page-header>
    <nz-page-header-title>Centros de Vacunación</nz-page-header-title>
</nz-page-header>
<nz-table #tabla [nzData]="vacunatories" [nzFrontPagination]="false">
    <thead>
        <tr>
            <th nzColumnKey="id" [nzSortFn]="true">#</th>
            <th nzColumnKey="name" [nzSortFn]="true">Nombre</th>
            <th nzColumnKey="admission_date" [nzSortFn]="true">Fecha de Creación</th>
            <th nzColumnKey="locality" [nzSortFn]="true">Localidad</th>
        </tr>
    </thead>
    <tbody>
        <tr *ngFor="let data of tabla.data">
            <td>{{data.id}}</td>
            <td>{{data?.name}}</td>
            <td>{{data.created_at | date }}</td>
            <td>{{data.locality_id}}</td>
            
            
        </tr>
    </tbody>
</nz-table>
