<nz-page-header>
    <nz-page-header-title>Localidad: {{localidad}}</nz-page-header-title>
</nz-page-header>
<nz-table #tabla [nzData]="vacunatories" [nzFrontPagination]="false">
    <thead>
        <tr>
            <th nzColumnKey="name" [nzSortFn]="true">Nombre</th>
            
            <th nzColumnKey="role" [nzSortFn]="true">Edición</th>
            
        </tr>
    </thead>
    <tbody>
        <tr *ngFor="let data of tabla.data">
            <td>{{data.name}}</td>
            
            <td><button nz-button nzType="primary" nzSize='small' [routerLink]="'edit/'+data.id">Editar</button></td>
            
            
        </tr>
    </tbody>
</nz-table>
<div *ngIf="((actualUser.role_id==4)); then admin_municipal"> </div>
<ng-template #admin_municipal>

    <nz-form-item>
        <button nz-button nzType="primary" [routerLink]="'create'">Agregar Centro de Vacunación</button>
    </nz-form-item>
</ng-template>

