<nz-table #tabla [nzData]="user" [nzFrontPagination]="false">
    <thead>
        <tr>
            <th nzColumnKey="name" [nzSortFn]="true">Nombre</th>
            <th nzColumnKey="email" [nzSortFn]="true">Correo Electrónico</th>
            <th nzColumnKey="role" [nzSortFn]="true">Rol</th>
        </tr>
    </thead>
    <tbody>
        <tr *ngFor="let data of tabla.data">
            <td>{{data.name}}</td>
            <td>{{data.email}}</td>
            <td>{{data.role_id}}</td>
            <td><button nz-button nzType="primary" [routerLink]="'edit/'+data.id">Editar</button></td>
            <td><button nz-button nzType="primary" [routerLink]="'delete/'+data.id">Eliminar</button></td>
            
        </tr>
    </tbody>
</nz-table>

