<nz-page-header>
    <nz-page-header-title>Provincia: {{provincia}}</nz-page-header-title>
</nz-page-header>
<nz-table #tabla [nzData]="provinceVaccination" [nzFrontPagination]="false">
    <thead>
        <tr>
            <th nzColumnKey="name" [nzSortFn]="true">#</th>
            <th nzColumnKey="vaccine_name" [nzSortFn]="true">Tipo de Vacuna</th>
            <th nzColumnKey="admission_date" [nzSortFn]="true">Fecha de Ingreso</th>
            <th nzColumnKey="quantity" [nzSortFn]="true">Cantidad</th>
            <th nzColumnKey="used" [nzSortFn]="true">Enviadas</th>
            <th nzColumnKey="details" [nzSortFn]="true">Detalle</th>
        </tr>
    </thead>
    <tbody>
        <tr *ngFor="let data of tabla.data">
            <td>{{data.id}}</td>
            <td>{{data?.type_vaccine?.name}}</td>
            <td>{{data.created_at | date }}</td>
            <td>{{data.received_lots}}</td>
            <td>{{data.used}}</td>
            <td><button nz-button nzType="primary" nzSize='small' [routerLink]="'show/'+data.id">Ver</button></td>
        </tr>
    </tbody>
</nz-table>