<nz-page-header>
    <nz-page-header-title>Tipos de Vacunas</nz-page-header-title>
</nz-page-header>

<nz-table #tabla [nzData]="typeVaccine" [nzFrontPagination]="false">
    <thead>
        <tr>
            <th nzColumnKey="name" [nzSortFn]="true">Nombre</th>
            <th nzColumnKey="doses_number" [nzSortFn]="true">Cantidad de Dosis</th>
            <th nzColumnKey="country" [nzSortFn]="true">Pais</th>
            <th nzColumnKey="laboratory" [nzSortFn]="true">Laboratorio</th>
        </tr>
    </thead>
    <tbody>
        <tr *ngFor="let data of tabla.data">
            <td>{{data.name}}</td>
            <td>{{data.doses_number}}</td>
            <td>{{data.country}}</td>
            <td>{{data.laboratory}}</td>
        </tr>
    </tbody>
</nz-table>
<div *ngIf="((actualUser.role_id==1) || (actualUser.role_id==2)); then superOrNac"> </div>
<ng-template #superOrNac>
    <nz-form-item>
        <button nz-button nzType="primary" [routerLink]="'create'">Agregar Vacuna</button>
    </nz-form-item>
</ng-template>