<nz-page-header>
    <nz-page-header-title>Elija un tipo de gráfico</nz-page-header-title>
</nz-page-header>


<div nz-row>
    <div class="content">
        <p nz-paragraph>
            A continuación, elija un tipo de gráfico para visualizar los datos
        </p>
    </div>
</div>


<nz-form-item>
    <button nz-button nzType="primary" routerLink="/dashboard/stats/barchart">Ver BarChart</button>
</nz-form-item>

<nz-form-item>
    <button nz-button nzType="primary" routerLink="/dashboard/stats/linechart">Ver LineChart</button>
</nz-form-item>

<nz-form-item>
    <button nz-button nzType="primary" routerLink="/dashboard/stats/piechart">Ver PieChart</button>
</nz-form-item>

<nz-form-item>
    <button nz-button nzType="primary" routerLink="/dashboard/stats/radarchart">Ver RadarChart</button>
</nz-form-item>
