<p>Gráficos</p>

<nz-form-item>
    <button nz-button nzType="primary" routerLink="/dashboard/stats/barchart">Ver BarChart</button>
</nz-form-item>

<nz-form-item>
    <button nz-button nzType="primary" routerLink="/dashboard/stats/linechart">Ver LineChart</button>
</nz-form-item>

<nz-form-item>
    <button nz-button nzType="primary" routerLink="/dashboard/stats/piechart">Ver PieChart</button>
</nz-form-item>

<nz-form-item>
    <button nz-button nzType="primary" routerLink="/dashboard/stats/radarchart">Ver RadarChart</button>
</nz-form-item>