<nz-page-header>
    <nz-page-header-title>Elija un tipo de gráfico</nz-page-header-title>
</nz-page-header>


<div nz-row>
    <div class="content">
        <p nz-paragraph>
            A continuación, elija un formato para visualizar los datos
        </p>
    </div>
</div>

<p>Gráficos de Barras:</p>
<nz-form-item>
    <button nz-button nzType="primary" routerLink="/dashboard/stats/barchart">Gráficos de Barras</button>
</nz-form-item>

<p>Gráficos de Torta:</p>
<nz-form-item>
    <button nz-button nzType="primary" routerLink="/dashboard/stats/piechart">Gráficos de Torta</button>
</nz-form-item>

<p>Gráficos de Radar:</p>
<nz-form-item>
    <button nz-button nzType="primary" routerLink="/dashboard/stats/radarchart">Gráficos de Radar</button>
</nz-form-item>



